<script type="text/javascript">
    var time = $('#time');
    var place = $('.panel-heading');
    var countryName;
    var countryValue;
    var cityName;
    var cityValue;
    var countyName;
    var countyValue;

    $(document).ready(function() {

      getCountry();

      function getCountry() {
        jQuery.ajax({
            type: 'GET',
            url: 'http://www.semihturan.xyz/namaz-vakitleri/countries.json',
            data: '{ }',
            dataType: 'json',
            success: function(data) {
                $.each(data.root.country, function(index, element) {
                    $('#dropdownSelectCountry').append('<li><a class="countryItem">' + element.country + '</a></li>');
                    $('.countryItem').click(function() {
                        countryName = $(this).html();
                        $('#countryButton').text(countryName);
                        $(this).addClass('selected');
                    });
                });
                $('.countryItem').click(function() {
                  $('#dropdownSelectCity').children().remove();
                  $('#dropdownSelectCounty').children().remove();
                  $('#cityButton').text("İl seçiniz");
                  $('#countyButton').text("İlçe seçiniz");
                  setCountry();
                });
                function setCountry() {
                    console.log('Ulke adi: ' + countryName);
                    for (var i = 0; i < data.root.country.length; i++) {
                        if (data.root.country[i].country === countryName) {
                            countryValue = data.root.country[i].value.match(/\d+/)[0];
                            console.log('Ulke kodu: ' + countryValue);
                            getCity();
                        }
                    }
                }
            }
        });
      }

        function getCity() {
          $.ajax({
              url: 'http://ramazan.diyanet.gov.tr/imsakiye/',
              type: "POST",
              data: {
                  "ulkeId": countryValue,
              },
              success: function(dataReturned) {
                console.log('success ');
                var html = $.parseHTML(dataReturned);
                var cities= $(html).find('#ilId').children();
                $.each(cities, function(index, element) {
                    cityName = cities.eq(index).html();
                    $('#dropdownSelectCity').append('<li><a class="cityItem">' + cityName+ '</a></li>');
                    $('.cityItem').click(function() {
                        cityName = $(this).html();
                        $('#cityButton').text(cityName);
                        $(this).addClass('selected');
                    });
                });

                  // for (var i = 0; i < cities.length; i++) {
                  //   cityName = cities.eq(i).html();
                  //   $('#dropdownSelectCity').append('<li><a class="cityItem">' + cityName + '</a></li>');
                  //   console.log('Sehir adi: ' + cityName);
                  //   $('.cityItem').click(function() {
                  //       $('#cityButton').text(cities.eq(i).html());
                  //   });
                  // }
                  $('.cityItem').click(function() {
                      setCity();
                  });

                  function setCity() {
                      for (var i = 0; i < cities.length; i++) {
                          if (cities.eq(i).html() === cityName) {
                            console.log('Sehir adi: ' + cityName);
                              cityValue = cities.eq(i).attr("value").match(/\d+/)[0];
                              console.log('Sehir kodu: ' + cityValue);
                              getCounty();
                          }
                      }
                  }
              }
          });
        }


        // function getCity() {
        //     $.ajax({
        //         url: 'http://www.diyanet.gov.tr/PrayerTime/FillMainPageState?countryCode=' + parseInt(countryValue),
        //         success: function(data) {
        //             $.each(data, function(index, element) {
        //                 $('#dropdownSelectCity').append('<li><a class="cityItem">' + element.Text + '</a></li>');
        //                 $('.cityItem').click(function() {
        //                     cityName = $(this).html();
        //                     $('#cityButton').text(cityName);
        //                 });
        //             });
        //             $('.cityItem').click(function() {
        //                 setCity();
        //             });
        //
        //             function setCity() {
        //                 for (var i = 0; i < data.length; i++) {
        //                     if (data[i].Text === cityName) {
        //                       console.log('Sehir adi: ' + cityName);
        //                         cityValue = data[i].Value.match(/\d+/)[0];
        //                         console.log('Sehir kodu: ' + cityValue);
        //                         getCounty();
        //                     }
        //                 }
        //             }
        //         }
        //     });
        // }

        function getCounty() {
            $.ajax({
                url: 'http://www.diyanet.gov.tr/PrayerTime/FillCity?itemId=' + parseInt(cityValue),
                success: function(data) {
                    $.each(data, function(index, element) {
                        $('#dropdownSelectCounty').append('<li><a class="countyItem">' + element.Text + '</a></li>');
                        $('.countyItem').click(function() {
                            countyName = $(this).html();
                            $('#countyButton').text(countyName);
                        });
                    });
                    $('.countyItem').click(function() {
                        setCounty();
                    });

                    function setCounty() {
                        console.log('Ilce adi: ' + countyName);
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Text === countyName) {
                                countyValue = data[i].Value.match(/\d+/)[0];
                                console.log('Ilce kodu: ' + countyValue);
                                getImsakiye();
                            }
                        }
                    }
                }
            });
        }

        function getImsakiye() {
        $(".hidden").removeClass("hidden");
            jQuery.ajax({
                url: "http://ramazan.diyanet.gov.tr/imsakiye/",
                type: "POST",
                data: {
                    "ulkeId": countryValue,
                    "ilId": cityValue,
                    "ilceId": countyValue
                },
                dataType: "text",
                success: function(data) {
                    time.children().remove();
                    var rows = jQuery(data).find("#table").children().children();
                    var rowInfo;
                    selectedPlace = rows.eq(0).children().eq(0).text().split("İmsakiye");
                    place.text(selectedPlace + cityName);
                    for (i = 2; i < 28; i++) {
                        var columns = rows.eq(i).children();
                        rowInfo += '<td>' + (i-1) + ' Ramazan 1437</td>';
                        for (x = 2; x < columns.length; x++) {
                            var text = columns.eq(x).text();
                            rowInfo += '<td>' + text + '</td>';
                        }
                        time.append('<tr>' + rowInfo + '</tr>');
                        rowInfo = "";
                    }
                    for (i = 28; i < 29; i++) {
                        rowInfo += '<td class= "text-center" colspan=100%> Kadir Gecesi </td>';
                        time.append('<tr>' + rowInfo + '</tr>');
                        rowInfo = "";
                    }
                    for (i = 29; i < 32; i++) {
                        var columns = rows.eq(i).children();
                        rowInfo += '<td>' + (i-2) + ' Ramazan 1437</td>';
                        for (x = 2; x < columns.length; x++) {
                            var text = columns.eq(x).text();
                            rowInfo += '<td>' + text + '</td>';
                        }
                        time.append('<tr>' + rowInfo + '</tr>');
                        rowInfo = "";
                    }
                    for (i = 33; i < 34; i++) {
                      var text = rows.eq(i).children().eq(0).html();
                      // time.append('<tr class= "text-center" colspan=100%>' + text+ '</tr>');
                      // rowInfo = "";
                    }
                }
            });
        }
    });
</script>
