<nav>
    <div class="container text-center">
        <div class="btn-group">
            <div class="btn btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" id="countryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ülke seçiniz<span class="caret"></span></button>
                <ul class="dropdown-menu" id="dropdownSelectCountry"></ul>
            </div>
            <div class="btn btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" id="cityButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İl seçiniz<span class="caret"></span></button>
                <ul class="dropdown-menu" id="dropdownSelectCity"></ul>
            </div>
            <div class="btn btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" id="countyButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İlçe seçiniz<span class="caret"></span></button>
                <ul class="dropdown-menu" id="dropdownSelectCounty"></ul>
            </div>
        </div>
    </div>
</nav>
