/**
 * Site header
 */
.navbar-fixed-top {
  background: #377BAA;
  span {
    color:white;
  }
}

.navbar-fixed-bottom {
  background: #377BAA;
  h2,h6 {
    color:white;
  }
}

tr {
  align-self: center;
  vertical-align: middle;
  height: 30px;
  &:nth-child(even) {background: #B0C4DE}
  &:nth-child(odd) {background: #FFF}
}
td {
  font-size: 17px;
  @media screen and (max-width: $on-palm) {
      font-size: 12px;
  }
}

.date-today > *, .kadir-gecesi {
  background: #191970;
  color:white;
}

.header-offset {
  height:60px;
}

a {
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
}

.btn {
  width: 180px;
  cursor: pointer;
}

.panel {
  padding-bottom: 80px;
}

.btn-group-container {
  padding: 2em 0;
}

.dropdown-menu {
  width:280px;
  max-height:500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-header {
  font-weight: 600;
  font-size:16px;
}

#counter {
  h2,h3 {
    color: #377BAA;
    text-align: center;
  }
}
